<section class="bg-primary" id="about-me">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me​</h2>
                <img style="border-radius: 50%; height: 150px;" src="img/headshot.jpg" />
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                  I completed a year of postgraduate training in Somatic Psychotherapy and another year of
                  postgraduate training in Expressive Arts Therapy where I studied directly with the field’s
                  groundbreaking founder, Paolo Knill, at the European Graduate School. My masters degree
                  from Goddard College focused on how systems of social hierarchy affect the neurophysiological
                  substrates of one’s ability to know what they know, feel what they feel, and to express that
                  within a democracy. At the heart of this study was recognition of the revolutionary power of
                  pleasure and love as neurophysiological states that have the power to shift both social and
                  intellectual habits that aren’t inline with our society’s democratic ideals of equality across
                  gender, race, class and all our beautiful subdivisions as folks. My thesis advisor was the
                  wonderful neuro philosopher and artist Ellie Epp, who earned her PhD at Simon-Fraser
                  University. I hold a BA in Choral Directing and Literature from Marlboro College where I
                  graduated with highest honors. I’ve taught workshops in cultural competency as a micro-fusion
                  dance instructor and a choral instructor through Recess Productions.
                </p>
                <br />
                <p>
                  In my personal time I am an artist and move through the world as a highly sensitive person, with
                  an advanced ability to verbally articulate the HSP experience through phenomenology and
                  neurophysiological studies.
                </p
                <br />
                <p>
                  I was raised in rural New Hampshire where I was surrounded and enriched by nature, but
                  challenged by the intergenerational and structural traumas that go along with extreme rural
                  poverty. I have worked with dedication against great odds to excel in each phase of training that
                  have led me to excel in this final phase as an intersectional Rosen Method Practitioner Intern.
                  This path I traveled to begin my private practice has burned into me a blunt and heartfelt
                  awareness of how intersectional experiences of privilege and oppression enter the body-mind
                  as chronic muscular tension, and how to heal effectively at these edges.
                </p>
            </div>
        </div>
    </div>
</section>
