<section class="bg-primary" id="how-i-work">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How I Work​</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                  The Rosen work I do is influenced by my advanced training in somatic counseling and in
                  expressive arts therapy. Together the client and I discover what works best for their unique
                  journey towards healing. Some clients prefer the traditional format of a Rosen session. Some
                  clients benefit from processing and exploring further what comes up on the table through
                  making art, music, writing or movement. We can incorporate artistic tactics into the session or
                  create healing ‘assignments’ for the client to anchor and deepen their healing process between
                  Rosen sessions.
                </p>
                <br />
                <p>
                  My advanced training in Somatic Psychotherapy has taught me to expertly track subtle body
                  language of clients on and off the table, and to educate clients about what we know scientifically
                  of the body-mind’s feedback loops. I understand and leverage for my client’s benefit the power
                  of pairing the way the left brain values & processes information linearly, verbally and
                  scientifically, with the way that the right brain values & processes information holistically,
                  through sensation, feeling, image and intuition of the present moment. My training in Somatic
                  Psychotherapy has also taught me to work with attachment styles formed in early childhood,
                  and how to recognize, track and safely work with trauma when it arises in a session.
                </p>
            </div>
        </div>
    </div>
</section>
