<section id="schedule-a-session">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Schedule a Session</h2>
                <p>Schedule a free full-length introductory session.</p>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h3>Contact</h3>
                <p>1 (802) 503-2436</p>
                <a href="mailto:kateasoule@gmail.com">kateasoule@gmail.com</a>
                <h3>Office Location</h3>
                <p>2236 Derby St. Berkeley, CA 94704</p>
                <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2236%20Derby%20St.%20Berkeley%2C%20CA%2094704&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>Payment & Fees</h3>
                <p>I offer 50-minute sessions on a sliding scale from $90-$50. Committed to
                seeing clients from a range of backgrounds, I reserve the low-fee spots in my practice for these
                individuals. We will determine your fee together on the phone before your first appointment.</p>
            </div>
        </div>
    </div>
</section>
