<section id="what-is-rosen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is the Rosen Method​</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-muted">Rosen Method bodywork was developed by Marion Rosen, a physical therapist who completed
                  early training in massage therapy and breathwork in Germany during WWII. After many decades
                  of private practice as a physical therapist in the United States, Marion began giving sessions
                  from her home that integrated her early training in massage and breathwork. At the core of her
                  method was the understanding that the psyche is embodied and can be met and healed through
                  touch and breath awareness. Word quickly spread about the amazing results Marion’s clients
                  experienced. Soon she had more clients than she could personally see; she trained students to
                  replicate her work. The results were so successful that now Rosen Method training programs
                  can be found all over the globe.
                </p>
                <br />
                <p class="text-muted">
                  A private Rosen session lasts fifty minutes and occurs on a massage table draped with sheets.
                  Clothing down to underwear is optional. The practitioner uses a gentle, emotionally present
                  touch to contact areas of the client’s chronic muscular tension. Guided by touch and some
                  verbal dialogue, the client relaxes on the table and experiences how chronic states of emotional
                  and psychological tension are stored in the muscles. Clients who have experienced trauma
                  sometimes have their first Rosen sessions while seated upright in a chair, fully clothed. A
                  client’s boundaries are always honored and we begin our work together from wherever that
                  point of boundary is needed.
                </p>
                <br />
                <p class="text-muted">
                  Sessions often result in the client feeling a greater sense of vitality, focus, clarity and life
                  purpose, and there is more room for breath to move through their torso. After a Rosen session
                  the client’s social relationships often gradually shift in a positive direction. People react to the
                  client differently after the session than they had before.
                </p>
            </div>
        </div>
    </div>
</section>
