<section id="who-i-work-with">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Who I Work With​</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-muted">
                  I work with people from all walks of life in my private practice. People often come to see me to
                  explore the embodied origins of:
                </p>
                <ul class="text-muted">
                  <li>Anxiety</li>
                  <li>Chronic tension, aches and pains</li>
                  <li>Depression</li>
                  <li>The biological trait of high sensitivity. This trait is often present in artists and musicians.</li>
                  <li>Feelings of limitation in life situationally, emotionally, intellectually, or physically</li>
                  <li>Trauma including verbal, physical and emotional trauma, neglect, and intergenerational trauma</li>
                  <li>Difficulty creating or sustaining intimate relationships</li>
                  <li>Overwhelming emotions related to structural oppression</li>
                  <li>PMS and Premenstrual Dysphoric Disorder</li>
                  <li>Difficulty feeling heartfulness, pleasure and joy</li>
                </ul>
                <br />
            </div>
        </div>
    </div>
</section>
